@import "tailwindcss";

body {
  background: #0f0f1e;
  color: white;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

:root {
  --color-primary: #7c3aed;
  --color-secondary: #0f0f1e;
  --color-nd-secondary: #1a1a2e;
}
